@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Scan Directory Test App</h1>
    <p>To run the main funcionality go to the <a asp-controller="ScanDirectory" asp-action="Index">Directory Scanner</a></p>
</div>
